<p id="notice"><%= notice %></p>

<h1>Tickets</h1>

<table>
  <thead>
    <tr>
      <th>Ticket number</th>
      <th>Comment</th>
      <th>Text</th>
      <th>Status</th>
      <th>Sandbox</th>
      <th>Pr</th>
      <th>Blocker</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tickets.each do |ticket| %>
      <tr>
        <td><%= ticket.ticket_number %></td>
        <td><%= ticket.comment %></td>
        <td><%= ticket.text %></td>
        <td><%= ticket.status %></td>
        <td><%= ticket.sandbox %></td>
        <td><%= ticket.pr %></td>
        <td><%= ticket.blocker %></td>
        <td><%= ticket.user&.name %></td>
        <td><%= link_to 'Show', ticket %></td>
        <td><%= link_to 'Edit', edit_ticket_path(ticket) %></td>
        <td><%= link_to 'Destroy', ticket, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Ticket', new_ticket_path(user_id: params[:id]) %>
<%= link_to 'Back', tickets_path %>